  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
  
  <script>
    $(document).ready(function() {
      //$('.friends').css('height', window.innerHeight-70);
      $('.friend').toggle(function(){
        $(this).addClass('selected');
      }, function() {
        $(this).removeClass('selected');
      });
      
    });
    
    function submit() {
      var friend_ids = '';
      $('.friend').map(function() {
        if ($(this).hasClass("selected")) {
          friend_ids = friend_ids + $(this).attr('fsid')+ ',';
        }
      });
      window.location = '/plants/share?friend_phones='+friend_ids;
    }
  </script>
  <title></title>
  </head>
  <body>
    <div class="friends">    
    <div class="title">
    Choose friends to send seeds to
    </div>
    <div class="bottom">
    <a onclick="submit()" style="display:inline-block;" href="#" style="margin-top:25px;"class="button">
    Send Seeds to Friends
    </a>

      <a style="display:inline-block;background-color:#ccc;" href="thanks" style="margin-top:25px;"class="button">
      Skip
      </a>    
    </div>
    <form action="/plants/foursqaure">
      <% @friends.each do |friend| %>
      <!--<div fsid="4157608666" class="friend"><%= current_user.fb_first_name %></div>-->
      <div fsid="<%= friend["phone"] %>" class="friend"><%= image_tag(friend["photo"], :style=> "width:30px;margin-right:8px") %><%= friend["firstname"] %> <%= friend["lastname"] %></div>
      <% end %>
    </div>

<p><%= link_to "Friend Share", :action => :show %></p>

